

  <form  (ngSubmit)="onAddNote(f)" #f="ngForm" class="form-entry">
  <input
  type="text"
  id="title"
  ngModel
  name="title"
  required
  placeholder="Title...">
  <hr>
  <div class="textarea-wrap">
    <textarea
    type="text"
    name="desc"
    id="desc"
    ngModel
    class="textarea"
    required
    cols="30"
    rows="10"></textarea>
  </div>

  <div class="btn-wrapper">
    <!--save note btn-->
    <button type="submit" id="save-btn" [disabled]="!f.valid" class="buttons">{{ editMode ? 'Update' : 'Save' }}</button>


    <!-- DELETE BTN add a popup?, are you sure you want to delete?-->
    <button type="button" id="delete-btn" class="buttons" (click)="onDelete()" *ngIf="editMode">Delete</button>

    <!--clear all input btn-->
    <button class="buttons" type="button" (click)="onClear()">Clear</button>
  </div>
</form>


