/*display a new box of title and description of journal*/

.list-entry {
  margin-top: 0.5rem;
}

.entrys-title {
  text-align: center;
}

.title-journal-div {
  background-color: rgb(255, 255, 255, 0.7);
  margin: 0;
  height: 2rem;
  width: 16.5rem;
  display: flex;
 align-items: center;
}

.title-text {
  margin-left: 0.5rem;
}

.desc-div {
  width: 16.5rem;
  background-color: rgba(255,255,255,0.2);
  height: 3.5rem;
}

.desc-div > p {
  padding: 0.5rem;

}

.desc-text {
  margin: 0;
}
